body{
    position: relative;
}

header{
    text-align: center;
}

header p{
    color: orange;
}

a{
    color: white;
}

img{
    filter: brightness(65%);
}

.imgBox{
    z-index: -1;
    height: 200px;
    width: auto;
}

#postArea{
    margin: 0 auto;
}

.box{
    position: absolute;
    bottom: 0;
}

.add{
    position: absolute;
    right: 20px;
    background: orangered;
    border-radius: 35px;
}